* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background-image:url(image/Background.gif);
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	background-color:#dbdbdb;
}
/********************************Создания класса для меню******************************/
.tr { 
/*background: url(http://изо1.jpg) no-repeat 50% 50%;  */
display: block;
width: auto; 
height: 24px; 
font-family:"Times New Roman", Times, serif;
	font-size:14px;
	outline: none;
	text-decoration: none;
	color:#FFF;
}
.tr:hover { 
margin:-7px;
padding-top:8px;
padding-left:12px;
color:#000;
background-color:#bbbbbb; 
/*height:34px;*/
background-image:url(image/menu-font.gif);
text-decoration:none;
}
.tr:visited {
	/*color:#FFF;*/
}
/***************************************************/

/*******************************************Класс шрифта Candara**************/
.style-font{
	margin:25px;
	font-family:Candara;
	font-size:14px;
}
.style-font-new {
	margin:25px 85px 0px 25px;
	font-family:Candara;
	font-size:14px;
}
.style-font-article {
	margin:25px 105px 0px 25px;
	font-family:Candara;
	font-size:14px;
}
.style-font-company {
	margin:25px 125px 0px 25px;
	font-family:Candara;
	font-size:14px;
}
.date {
	margin:25px;
	font-family:Candara;
	font-size:12px;
	color:#999;
}
.compamy-style {
	background-color:#FFF;
	width:auto;
}
/******************************************Класс шрифта*************************/
a {
	color: blue;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}
p {
	margin: 0 0 0px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 942px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.hd {
	float:left;
	width:200px;
	height:10px;
	margin:10px;
	margin-left:5px;
	color:#000;
}
.hd:hover {
text-decoration:underline; 
/*text-decoration:none;*/
	/*border-bottom:#000 1px dotted;*/
	/*padding:5px;*/
}
	#site-name {
		
		width:115px;
		height:45px;
		
	}
							/*Find system*/
		#find {
			float:right;
			margin:-35px 177px 0px 10px;
			width:115px;
			height:45px;
		}
		
		#number {
	float: left;
	height: 16px;
	padding: 2px 8px;
	width: 218px;
	border: 0px;
	margin: 2px 0px 0px 12px;
	font: normal 11px Verdana;
	color: #999;
	background-image:url(image/find-main.jpg);
	background-repeat:no-repeat;
}
		
		#btn,
#btn:hover,
#btn:active,
#btn:focus {
	float: left;
	margin-left: 246px;
	margin-top:-20px;
	border: 0px;
	width: 46px;
	height: 21px;
	outline:none;
	background-image:url(image/find.jpg);
	background-repeat:no-repeat;
}
		/******************************Find system****************/
#header {
	margin-top: 10px;
	height: 188px; /*942x188 картинка над хедером + шапка лого поиск*/
	width:942px;
	background-image:url(image/header.png);
	background-repeat:no-repeat;
}
#decor-header-one {
	float:left;
	margin-left:20px;
	
}


/*--------------------------------------Menu-----------------------------------------------------*/
#menu {
	margin-top: 10px;
	height:35px;
	width:942px;
	background-image:url(image/menu.png);
	background-repeat:no-repeat;
}
				/*Главная */
#main { /*Решить проблему с Меню что бы не было смещения при наведении на Главную.*/
	/* 82x34*/
	float:left;
	margin:0px;
	margin-left:15px;	
	/*background-color:#bbbbbb;*/
	width:70px;
	height:34px;
	
}
			/*Выставка*/
#fair {
	/* 82x34*/
	float:left;
	/*margin:10px;*/
	margin-left:4px;
	/*margin-top:-30px;*/
	/*background-color:#bbbbbb;*/
	width:84px;
	height:34px;
		
}	
			/*Пресс-релизы*/
#relize {
	/* 82x34*/
	float:left;
	margin-left:4px;
	/*margin:10px;
	margin-top:-43px;*/
	/*background-color:#bbbbbb;*/
	width:113px;
	height:34px;
		
}	
			/*Продукция*/
#product {
	/* 82x34*/
	float:left;
	margin-left:4px;
	/*margin:10px;
	margin-left:200px;
	margin-top:-43px;*/
	/*background-color:#bbbbbb;*/
	width:96px;
	height:34px;
		
}	

#company {			/*Предприятие*/
	/* 82x34*/
	float:left;
	margin-left:4px;
	/*margin:10px;
	margin-left:380px;
	margin-top:-43px;*/
	/*background-color:#bbbbbb;*/
	width:111px;
	height:34px;
		
}	
			/*Статьи*/
#article {
	/* 82x34*/
	float:left;
	margin-left:4px;
	/*margin:10px;
	margin-left:580px;
	margin-top:-43px;*/
	/*background-color:#bbbbbb;*/
	width:75px;
	height:34px;
		
}	
	/*Сделать по принцепу остальное.*/
				/*Для заполнения меню*/
H6{
		padding-top:8px;
		padding-left:12px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
/*--------------------------------------------------------/Menu----------------------------------------*/
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 80px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content-left {
	margin-top:20px;
	height:326px;
	width:280px;
	background-image:url(image/news.png);
	background-repeat:no-repeat;
	float:bot;
	padding: 0 10px 0 0;
	
}
#content-right {
	margin-top:-652px;
	margin-left:300px;
	height:448px;
	width:448px;
	background-image:url(image/press-relise.gif);
	background-repeat:no-repeat;
	float:left;
	/*padding: 0 10px 0 0;*/
}
#content-right-first {
	/*width:380px;*/
	/*background-color:#f8f1db;*/
	/*margin-left:5px;*/
}
#content-left-bot {
	margin-top:20px;
	/*margin-bottom:auto;*/
	padding: 0  10px 0 0;
	height:306px;
	width:280px;
	float:left;
	background-image:url(image/states.png);
	background-repeat:no-repeat;
	
}
#content-right-bot {
	margin-top:-185px;
	margin-right:230px;
	/*margin-bottom:auto;*/
	padding: 0  10px 0 0;
	height:183px;
	width:400px;
	float:right;
	background-image:url(image/organization.gif);
	background-repeat:no-repeat;
}
#content-right-bot-atlant {
	background-color:#f8f1db;
	margin-left:5px;
}
#content-right-bot-stals {
	background-color:#f8f1db;
	margin-left:5px;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	/*margin-top: 20px;*/
	margin-top:20px;
	margin-right: 2px;
	width: 220px;
	height:446px;
	margin-left: -250px;
	position: relative;
	background-image:url(image/bg.reklama.gif);
	background-repeat:no-repeat;
}
					/*Рекомендации*/
#sideRight-bot {
	float:right;
	margin-top: 488px;
	/*margin: 486px;*/
	margin-right: 2px;
	margin-left: -250px;
	width:222px;
	height:183px;
	position: relative;
	background-image:url(image/recomendet.gif);
	background-repeat:no-repeat;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 942px;
	height:96px;
	margin: 0 auto;
	margin-top:-64px;
	background-image:url(image/footer.gif);
	background-repeat:no-repeat;
	position: relative;
}
/*Decor
--------------------------------------------------------------------------------*/
#decor-one {
	float:left;
	width:197px;
	height:70px;
	margin:15px;
	margin-left:13px;
	background-image:url(image/footer-block.png);
	
	}
	#decor-two {
	float:left;
	width:197px;
	height:70px;
	margin:15px;
	margin-left:-5px;
	background-image:url(image/footer-block.png);
	
	}
	#decor-three {
	float:left;
	width:197px;
	height:70px;
	margin:15px;
	margin-left:-5px;
	background-image:url(image/footer-block.png);
	}
#logo {
	float:left;
	width:125px;
	height:70px;
	margin:15px;
	margin-left:-10px;
}
#copyright {
	float:left;
	width:125px;
	height:70px;
	margin:15px;
	margin-left:25px;
}
a.lg{
	
	padding-left:45px;
}
a.lgi {
		padding-left:70px;
}
a.li {
	color:#000;
	text-decoration:underline;
	padding:15px;
}